# PHP & Composer
/vendor
/storage/*.key
.phpunit.result.cache
.env.backup
.env

# PHP CS
.php_cs.cache

# NPM & Mix
/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/mix-manifest.json

# Error logs
npm-debug.log
yarn-error.log

# Homestead
Homestead.json
Homestead.yaml

# Sail & Docker
docker-compose.override.yml
supervisord.pid
supervisord.log

# Misc
TODO
